/* Main configuration */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
  width: 100vw;
  height: 750vh;
}

#background-image {
  background-image: url("../resources/background-image.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

#rectangle {
  position: fixed;
  background-color: transparent;
  border: 1px solid white;
  width: 98%;
  height: 96%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
}

#introduction {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#introduction h1 {
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 5px;
  margin-bottom: 0px;
}

#introduction h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.5px;
}
