
/* Main configuration */

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
}

#background-image {
  background-image: url("../resources/background-image.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

#rectangle {
  position: fixed;
  background-color: transparent;
  border: 1px solid white;
  width: 98%;
  height: 96%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
}
