/* Main */

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

/* First section */

#first-section {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: blue;
}

#first-section h1 {
  margin: 0 auto;
}

#first-section h2 {

}

/* Image */

#image {
  width: 100%;
  height: 65%;
  margin: 0 auto;
}

#background-image {
  background-image: url("../resources/background-image.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100%;
}

/* Second section */

#second-section {
  width: 100%;
  height: 100%;
  background-color: pink;
}

#second-section h1 {
  margin: 0 auto;
}

#second-section h2 {
  margin: 0 auto;
}
